<div class="body">  
  <h1>Edita aqui</h1>
  Aqui pon las otras cosas
  <div class="register">
    <form class="custom-form" method="post">
      <h1>Register</h1>
      <h3> Nombre</h3>
      <input
      type = "text"
      [(ngModel)]="nombre"
      placeholder="Nombre"
      required="required"
      >
      <h3>Apellido</h3>
      <input
      type="text"
      [(ngModel)]="apellido"
      placeholder="Apelldio"
      required="required"
      >
      <h3> Correo electronico </h3>
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        required="required"
      />
      <h3> Numero telefonico </h3>
      <input
        type="string"
        [(ngModel)]="numero"
        name="Numero"
        placeholder="+52 xxxxxxxxxx"
        required="required"
      />
      <h3>Instagram</h3>
      <input
        type="text"
        [(ngModel)]="instagram"
        name="Insta"
        placeholder="@LaMerCosmeticos"
        required="required"
      />
      <h3>Estado</h3>
      <ul class="estados">
        <li *ngFor="let estado of estados">
          <span class = 'badge'>{{estado}}</span>
        </li>
      </ul>
      <button type="submit" (click)="register()">Register</button>
    </form>
  </div>
</div>