
<h1><p style="text-align:center">Esto es una pagina trampa <br> Porfavor cuida mas tus datos <br> Ya que alguien podria robarlos </p></h1>
  
<!-- <div class="login">
    <form class="custom-form" method="post">
      
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        required="required"
      />
      <button type="submit" (click)="login()">Log in</button>
    </form>
  </div> -->
<!-- pues aqui ponle que era una prank en bonito-->
